@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    max-width: 100%;
}

/* Diseño del body de la aplicación */
body {
    background-color: #0E0E16;
    color: #fff;
}

.expresMath {
    fill: #fff;
}

/* Propiedades de diseño de la pantalla de la calculadora */
.btn-Pantalla {
    display: flex;
    height: 12em;
    max-width: 100%;
}